* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color, #F3F4F6);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
